:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #302a2a;
    --container-background-color: #423c3c;
    --text-color: #e8e7dc;
  }
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;                                                         
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}

main {
  width: 100%;
  max-width: 450px;
  padding: 1rem;
}

.hidden {
  display: none;
}

header {
  display: block;
  max-width: 450px;
  text-align: right;
  padding: 1rem;
  width: 100%;
  align-items: right;
}

h2 {
  margin: 0;
}

input {
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
}

button {
  background: inherit;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: xx-large;
  color: inherit;
}

button.hidden {
  display: none;
}

.headerButton {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: small;
  background: inherit;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 10px;
  font-size: large;
  background-color: var(--container-background-color);
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background: var(--container-background-color);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li .emoji {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}

li .task-info {
  flex: 1;
}
